/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;

}

/* Intro Screen */
.intro-screen {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('image/background.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
}

.open-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #8f9b86;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    margin: 0;
}

.open-button:hover {
    transform: scale(1.05);
    background-color: white;
    color: #8f9b86;

}

.margin-0 {
    margin: 0;
}

/* Invitation Content */
.invitation-content {
    display: none;
    padding: 20px;
    color: #333;
    background-color: #f6fcf3;
    /* background-color: #f3f8f1; */
    overflow-y: auto;
    height: 100vh;
    font-family: "openSans-cond";
    font-size: 14px;
}

/* .invitation-content b {
    font-family: "openSans-cond-bold";

} */

.main-name {
    font-family: "flatlion";
    font-size: 100px;
    color: #9D8411;
}

/* Section */
.section {
    margin-bottom: 80px;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}


/* /////////////Floating Navbar */
.floating-menu {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

.menu-toggle {
    background-color: #8f9b86;
    border-radius: 9px;
    padding: 9px 8px 2px 9px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle:hover i {
    color: #FFD700;
}

.menu-items {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: -20px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.menu-items a {
    background-color: #8f9b86;
    color: white;
    text-decoration: none;
    /* padding: 9px 8px 2px 9px; */
    margin: 5px 0;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
    opacity: 0;
    transform: translateY(10px);
}

/* Staggered delay for smoother item appearance */
.menu-items a:nth-child(1) {
    transition-delay: 0.1s;
}

.menu-items a:nth-child(2) {
    transition-delay: 0.2s;
}

.menu-items a:nth-child(3) {
    transition-delay: 0.3s;
}

.menu-items a:nth-child(4) {
    transition-delay: 0.4s;
}

.menu-items a:hover i {
    color: #FFD700;
}

/* When expanded */
.menu-expanded .menu-toggle {
    background-color: #8f9b86;
    border-radius: 0px 0px 9px 9px;

}

.menu-expanded .menu-items {
    display: flex;
    background-color: #8f9b86;
    border-radius: 9px 9px 0px 0px;
    padding: 9px 8px 2px 9px;
    position: absolute;
    bottom: 60px;
    right: 0;
    opacity: 1;
    transform: translateY(0);
    margin-bottom: -33px;

}

.menu-expanded .menu-items a {
    opacity: 1;
    transform: translateY(0);
}

/* ======================= */


.invitation-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 18%;
    text-align: center;
    margin: 0;
    font-size: 9.5vw;
    /* Ubah angka sesuai kebutuhan */
}

.xshadow {
    color: #f7f3e3;

    font-weight: 900;
    text-shadow: -5px 2px 0px #a3a3a1;
}

.nameing {
    margin-top: 15px;
    width: 100%
}

.invitation-bottom {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#bride-groom {
    text-align: center;
}

.bio {
    font-family: 'cormorant-med';
    letter-spacing: 4px;

}

.bio b {
    font-family: 'cormorant-bold';
}

.bio-title {
    font-size: 16px;
    margin-top: 5px;
}

.bio-name {
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.bio-detail {
    font-size: 12px;
    letter-spacing: 3px;


}

#dan {
    color: #8F9B86;
    font-size: 96px;
    font-weight: normal;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-family: "Nickainley";
    margin: -25px;
}



.countdown-container {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.countdown {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #646e69;
}

.countdown-item {
    margin: 0 15px;
}

.countdown-item span {
    display: block;
    font-size: 2em;
    font-weight: bold;
}


.event-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.event-section {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    padding: 30px;
    margin: 20px 0;
}

.event-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-content h2 {
    color: #374151;
}

.date-column {
    flex: 1;
    text-align: center;
}

.large-date {
    font-size: 3em;
    /* Ukuran besar untuk tanggal */
    color: #8F9B86;
    margin: 0;
}

.date-month {
    font-size: 1.2em;
    color: #374151;
    font-weight: bold;
}

.info-column {
    flex: 1;
    text-align: left;
}

.event-time,
.event-location {
    font-size: 1.2em;
    color: #374151;
    margin: 5px 0;
    font-weight: 500;
}

#event-details.section {
    margin-bottom: 5px;
}

.width-100 {
    width: 100%;
}

.sign {
    font-family: "Nickainley";
    font-size: 60px;
}

.font-green {
    color: #8F9B86;
}

.font-green-dark {
    color: #76806f;
}


/* grid */
.custom-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sit next to each other */
.custom-column {
    flex: 50%;
    padding: 0 4px;
}

.custom-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    /* Lebar penuh untuk gambar */
}

/* Style the buttons */
.custom-btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}

.custom-btn:hover {
    background-color: #ddd;
}

.custom-btn.active {
    background-color: #666;
    color: white;
}

#gallery {
    background-color: white;
}

#gallery .invitation-title {
    padding: 30px 0 11px 0;
    color: #8f9b86;
}

.card-body button {
    margin-top: 15px;
}

/* font family */
@font-face {
    font-family: 'openSans-cond';
    /*memberikan nama bebas untuk font*/
    src: url('asset/font/OpenSans-CondLight.ttf');
    /*memanggil file font eksternalnya di folder nexa*/
}

@font-face {
    font-family: 'openSans-cond-bold';
    /*memberikan nama bebas untuk font*/
    src: url('asset/font/OpenSans-CondBold.ttf');
    /*memanggil file font eksternalnya di folder nexa*/
}

@font-face {
    font-family: 'flatlion';
    /*memberikan nama bebas untuk font*/
    src: url('asset/font/Flatlion2.ttf');
    /*memanggil file font eksternalnya di folder nexa*/
}

@font-face {
    font-family: 'cormorant-med';
    /*memberikan nama bebas untuk font*/
    src: url('asset/font/CormorantGaramond-Medium.ttf');
    /*memanggil file font eksternalnya di folder nexa*/
}

@font-face {
    font-family: 'cormorant-bold';
    /*memberikan nama bebas untuk font*/
    src: url('asset/font/CormorantGaramond-Bold.ttf');
    /*memanggil file font eksternalnya di folder nexa*/
}

@font-face {
    font-family: 'billion-miracles';
    /*memberikan nama bebas untuk font*/
    src: url('asset/font/Billion Miracles.otf');
    /*memanggil file font eksternalnya di folder nexa*/
}

@font-face {
    font-family: "Nickainley";
    src: url('asset/font/Nickainley.otf');
}